In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\saad\appdata\local\programs\python\python310\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\saad\appdata\local\programs\python\python310\lib\site-packages (from mysql-connector-python) (3.20.0)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import mysql.connector

In [44]:
coon=mysql.connector.connect(host="localhost",database="School",user="root",password="")

In [47]:
mycur = coon.cursor()

In [46]:
mycur.execute("SHOW DATABASES")
for i in mycur:
    print(i)

('company',)
('dbemp',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('school',)
('test',)

In [29]:
mycur.execute("CREATE DATABASE School")

In [33]:
mycur.execute("CREATE TABLE STUDENT(STUID INT,STUNAME VARCHAR(50),ROLL INT)")

In [35]:
rec = "INSERT INTO STUDENT(STUID,STUNAME,ROLL)VALUES(%s,%s,%s) "
values =[(1,"Ronaldo",11),(2,"Messi",22),(3,"Ben",33),(4,"Lew",44),(5,"Adam",55)]
mycur.executemany(rec,values)
coon.commit()

In [53]:
mycur.execute("SELECT * FROM STUDENT")
result = mycur.fetchall()
for i in result:
    print(i)

(1, 'Ronaldo', 11)
(17, 'Messi', 22)
(3, 'Ben', 33)
(4, 'Lew', 44)
(5, 'Adam', 55)

In [48]:
query = "SELECT * FROM STUDENT WHERE ROLL=%s"
rollnumber = int(input("Enter number"))
roll=(rollnumber,)
mycur.execute(query,roll)
x=mycur.fetchall()
for i in x:
    print(i)

In [50]:
roll="SELECT * FROM STUDENT WHERE STUID=5"
mycur.execute(roll)
x=mycur.fetchall()
for i in x:
    print(i)

(5, 'Adam', 55)

In [51]:
update="UPDATE STUDENT SET STUID=17 WHERE STUNAME='Messi'"
mycur.execute(update)
coon.commit()

In [54]:
mycur.close()
coon.close()

In [1]:
import os
os.listdir()

['Database.ipynb', 'file.c']